.page-img {
    background: #140002;
    padding-bottom: 70px;

    .description {
        display: flex;
        margin: 0 auto;
        width: 50%;
        padding: 70px 0;
        text-align: center;

        &__text {
            color: #fff;
            text-transform: uppercase;
            font-size: 49px;
            font-family: 'Righteous', cursive;

            span {
                color: #e11b1b;
                font-family: 'Righteous', cursive;
            }
        }
    }

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__input {
            width: 50%;
            margin: 0px auto 20px auto;

            input {
                width: 100%;
                height: 50px;
                background: #fff;
                border: none;
                border-radius: 3px;
                text-align: center;
                box-shadow: -0.5px 0.5px 2px 0px #fff;
                font-size: 14px;
                font-weight: 600;

                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 0px 2px #e11b1b;
                }

                &::placeholder {
                    font-weight: 600;
                    color: #ABABAB;
                }
            }
        }

        &__radio {
            color: #fff;
            font-weight: 600;
            margin: auto;
            width: 50%;
            display: flex;
            text-align: start;
            align-items: center;
            text-transform: uppercase;

            label {
                margin-left: 30px;
                display: flex;
                align-items: center;
            }
        }

        &__btn {
            font-size: 20px;
            background: #e11b1b;
            color: #020014;
            width: 200px;
            margin: 60px auto;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            height: 60px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: #550000;
            }


        }
    }

    .result {
        img{
            width: 100%;
        }
    }
}